name: ci

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore
        run: dotnet restore backend/UrlShortener.sln

      - name: Build
        run: dotnet build backend/UrlShortener.sln -c Release --no-restore

      - name: Test
        run: dotnet test backend/UrlShortener.sln -c Release --no-build
